.sidebar {
  display: flex;
  flex-direction: column;
  
  .btn {
    margin: 20px 0 20px 10px;
    max-width: 220px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 10px;
  }
  .add-btn {
    margin: 20px 0 20px 10px;
    border-radius: 10px;
    width: 40px;
  }
}
