.email-info-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-top: 25px;

  .email-info-subject {
    display: flex;
    h2 {
      font-size: 24px;
      margin-left: 5px;
    }
    .subject-type {
      margin: 7px 0 0 11px;
      background: whitesmoke;
      border-radius: 5px;
      font-size: 13px;
      height: 20px;
    }
    border-bottom: 1px solid rgb(202, 198, 198);
  }
  .email-info-author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(202, 198, 198);
    .author-profile {
      display: flex;
      align-items: center;
    }
    span {
      margin-left: 20px;
      font-size: 20px;
      font-weight: 500;
    }
  }
  .email-info-date {
    margin-right: 20px;
    .date {
      margin-top: 20px;
    }
  }
  .email-info-massage {
    margin-top: 15px;
    .message {
      margin-left: 15px;
    }
  }
}
