.email-wrapper {
  display: grid;
  grid-template-columns: 170px 220px auto 120px;
  height: 60px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2px;

  cursor: pointer;
  &:hover {
    background-color: #0080ff1c;
  }
  &:first-child {
    border-top: none;
  }

  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid whitesmoke;
  .email-icons {
    display: flex;
    align-items: center;
  }
  .email-info {
    display: flex;
    align-items: center;
  }
  .email-message {
    display: flex;
    align-items: center;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 1000px;
      margin: 0;
      span {
        margin-left: 20px;
        color: rgb(151, 151, 151);
      }
    }
  }
  .email-date {
    display: flex;
    align-items: center;
  }
}

.no-read {
  background-color: rgb(236, 236, 236);
}

.read {
  background-color: white;
}
