.email-wrapper {
  display: grid;
  grid-template-columns: 170px 220px auto 120px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: rgb(227, 238, 238);
  }
  &:first-child {
    border-top: none;
  }

  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  .email-icons {
    display: flex;
    align-items: center;
  }
  .email-info {
    display: flex;
    align-items: center;
  }
  .email-message {
    display: flex;
    align-items: center;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 1000px;
      span {
        margin-left: 20px;
        color: rgb(151, 151, 151);
      }
    }
  }
  .email-date {
    display: flex;
    align-items: center;
  }
}
